<h1>Editar</h1>

<p>Editar fornecedor</p>

<p *ngIf="fornecedor == null || setores == null"><em>Loading...</em></p>

<div class="well">
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="nomeFornecedor" required>
        </div>
        <div class="form-group">
            <label class="control-label" for="documento">Documento</label>
            <input type="text" class="form-control" name="documento" id="documento" [(ngModel)]="documentoFornecedor">
        </div>

        <div class="form-group">
            <label class="control-label" for="setores">Setor</label>
            <select class="form-control" [(ngModel)]="setorId" id="setores" name="setores">
                <option *ngFor="let setor of setores" [value]="setor.id">{{setor.nome}}</option>
            </select>
        </div>

        <div class="form-group text-center">
            <button class="btn btn-success" (click)="salvar()" style="margin-right:100px;">Salvar</button>
            <a class="btn btn-default" [routerLink]="['/lista-fornecedores']">Voltar</a>
        </div>
    </form>
</div>